/* for Mobile Devices  */

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .header-top {
        padding: 0;
        text-align: center;
    }
    .header-top p {
        font-size: 10px;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul li{
        padding: 6px;
    }

    .article {
        background-position: center center;
    }
    .options {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        height: fit-content;
    }
    .options h3 {
    padding: 0;
    font-size: medium;
    width: 90%;
    margin: auto;
    font-size: small;
    }
    .options form {
        display: flex;
        flex-direction: column;
    }
    .options form select {
        border-radius: 8px;
    }
    .options form select,input[type="text"],input[type="submit"] {
        border-radius: 8px;
        margin: 4px 0;
    }
    .about-law {
        width: 100%;
        margin: 24px auto;
    }
    .about-law p{
        text-align: justify;
        padding: 8px 24px;
    }
    .corona {
        width: 100%;
        display: flex;
        gap: 20px;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
    }
    .corona img {
        width: 154px;
        float: none;
        margin: 0;
    }
    .corona h3 {
        font-size: medium;
    }
    .corona-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .corona-text a {
        text-align: center;
        width: 65%;
        margin: 4px 0;
    }

    .cases {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        background-color: #d9d3d34d;
        width: 90%;
        padding: 20px
    }
    .box {
        border: 2px solid white;
        padding: 4px;
        border-radius: 12px;
        text-align: center;
    }

    .updates {
        height: fit-content;
        width: 100%;
    }
    .container {
        height: fit-content;
        width: 100%;
    }
    .text {
        text-align: left;
    }
}


    /* Adding Media Queries for tablet Devices */

    @media only screen and (width >= 481px) and (width <= 768px) {
        .header-top {
            padding: 0;
            text-align: center;
        }

        .menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .logo h1{
            text-align: center;
        }

        .options {
            width: 100%;
            margin: auto;
            left: 0;
            top: 32%;
            height: fit-content;
        }
        .options form {
            display: flex;
            flex-direction: column;
        }
        .options form select {
            border-radius: 8px;
        }
        .options form select,input[type="text"],input[type="submit"] {
            border-radius: 8px;
            margin: 4px 0;
        }

        .about-law {
            width: fit-content;
            text-align: center;
            width: 100%;
            margin: 24px auto;
        }
        .about-law p{
            text-align: justify;
            padding: 8px 24px;
        }
        

        .corona {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            height: fit-content;
        }
        .corona-text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .corona-text a {
            margin: 10px auto;
            width: 35%;
            text-align: center;
        }

        .cases {
            width: 90%;
            grid-template-columns: repeat(3, 1fr);
        }

        .topics {
            grid-template-columns: repeat(2, 1fr);
            gap: 14px;
            background-color: #d9d3d34d;
            width: 100%;
            padding: 20px
        }
        .topics .box {
            border: 2px solid white;
            padding: 4px;
            border-radius: 12px;
            text-align: center;
        }

        .updates {
            height: fit-content;
            width: 100%;
        }
        .container {
            height: fit-content;
            width: 100%;
        }
        .text {
            text-align: left;
        }
    }
    @media only screen and (width >= 769px) and (width <= 1440px) {
    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu li {
        padding: 12px;
    }
    .header-top {
        text-align: center;
        padding: 0;
    }
    .options {
        width: 100%;
        left: 0;
        top: 30%;
    }
    .about-law {
        margin: 24px auto;
    }
    .about-law p{
        text-align: justify;
    }
    .corona {
        width: 70%;
        display: flex;
        align-items: center;
        gap: 20px;
        height: fit-content;
        padding: 12px;
    }
    .corona-text {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .corona-text a {
        width: 24%;
        text-align: center;
        margin: 10px auto;
    }
    .cases {
        grid-template-columns: repeat(3, 1fr);
    }
    .topics {
        grid-template-columns: repeat(4, 1fr);
        gap: 14px;
        width: 90%;
        padding: 20px
    }
    .topics .box {
        padding: 12px;
        background-color: #d9d3d34d;
        border: 2px solid white;
        padding: 4px;
        border-radius: 12px;
        text-align: center;
    }
    .updates {
        height: fit-content;
    }
    .container {
        width: 80%;
        justify-content: space-around;
        gap: 30px;
    }
    .container .box {
        margin: 0;
    }
}