/* for Mobile Devices  */

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .header-top {
        padding: 0;
        text-align: center;
    }
    .header-top p {
        font-size: 10px;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul li{
        padding: 6px;
    }

    .article {
        background-position: center center;
    }
    .options {
        position: absolute;
        top: 80%;
        width: 100%;
        left: 0;
        height: fit-content;
    }
    .options h3 {
    padding: 0;
    font-size: medium;
    width: 90%;
    margin: auto;
    font-size: small;
    }
    .options form {
        display: flex;
        flex-direction: column;
    }
    .options form select {
        border-radius: 8px;
    }
    .options form select,input[type="text"],input[type="submit"] {
        border-radius: 8px;
        margin: 4px 0;
    }
    .about-law {
        width: 100%;
        margin: 24px auto;
    }
    .corona {
        width: 100%;
        display: flex;
        gap: 20px;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
    }
    .corona img {
        width: 154px;
        float: none;
        margin: 0;
    }
    .corona h3 {
        font-size: medium;
    }
    .corona-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .corona-text a {
        text-align: center;
        width: 65%;
        margin: 4px 0;
    }

    .cases {
        grid-template-columns: repeat(3, 1fr);
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        background-color: #d9d3d34d;
        width: 90%;
        padding: 20px
    }
    .box {
        border: 2px solid white;
        padding: 4px;
        border-radius: 12px;
        text-align: center;
    }

    .updates {
        height: fit-content;
    }
    .container {
        width: 100%;
        height: fit-content;
    }
    .text {
        text-align: left;
    }
}